body {
    width: 100%;
    background-color:  rgba(0,212,255,1);
    overflow: hidden;
}

.body-content {
    margin: auto;
    /* background: rgb(255,255,255); */
    /* background: radial-gradient(circle, rgba(255,255,255,1) 43%, rgba(0,212,255,1) 100%); */
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 47%, rgba(62,62,62,1) 100%);
    height: 100%;

}

.title {
    text-align: center;
    width: 100%;
    /* text-shadow: -1px 0 rgb(0, 0, 0), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgb(0, 0, 0); */
    text-shadow: 2px 2px 10px royalblue;
    color: white;
    font-size: 3rem;
    padding-top: 2.5rem;
}

.page-text {
    font-family: system-ui;
    /* text-shadow: 2px 2px 10px royalblue; */
}

.side-col-padding {
    padding-top: 7rem;

}

.nav-btn {
    margin-bottom: 10px;
    border: solid 4px #5a5a5a;
    border-radius: 30px;
    background: #42d4ff;
}

.left-nav-btn {
    margin-left: -300px;
    text-align: right;
}

.right-nav-btn {
    margin-right: -300px;
    text-align: left;
}

.nav-link {
    padding: 30px;
    font-size: x-large;
    color: #5a5a5a;
}

.profile-img {
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
    width: 15rem;
    height: 15rem;
}

.chatbot-section {
    margin: auto;
}

.chatbot-text {
    margin: auto;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
    padding-top: 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatbot-text::-webkit-scrollbar {
    display: none;
}


.chatbot-input {
    margin: auto;
}

.input-text-box {
    margin: auto;
    width: 100%;
    background-color: rgba(62,62,62,1);
    color: white;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-bubble {
    border: solid 1px black;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.chat-bubble.person-chat {
    background: #3e3e3e;
    border: none;
    color: #42d4ff;
}

.chat-bubble.bot-chat {

}

.chat-bubble.error-message {
    color: red;
}